body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

.container {
    margin-top: 50px;
}

.title {
    font-size: 24px;
    margin-bottom: 30px;
}

.kiosk-button {
    display: inline-block;
    width: 200px;
    padding: 15px;
    margin: 10px;
    font-size: 18px;
    text-decoration: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

.kiosk-button:hover {
    background-color: #44a055;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input, select {
    width: 30%;
    padding: 8px;
    box-sizing: border-box;
}

.language-select {
    position: absolute;
    top: 10px;
    right: 10px;
}

.language-select a {
    margin: 0 5px;
    text-decoration: none;
    color: black;
}

.language-select .selected {
    font-weight: bold;
}

header {
    background-color: dodgerblue;
    /* background: linear-gradient(to bottom left, #0099ff 51%, #66ffcc 100%); */
    line-height: 40px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 23px;
    position: relative;
    margin: 0 auto;
    max-width: 800px;
    height: 40px;
}

.panel-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 세 개의 열을 생성 */
    justify-content: center;
    max-width: 780px;
    margin: 0 auto;
    margin-top: 20px;
    gap: 20px;
}

.panel {
    width: 100%; /* 열의 크기에 맞게 패널 크기 조정 */
    border: 1px solid #ccc;
    text-align: center;
}

.panel img {
    width: 100%;
    height: auto;
    display: block;
}

.panel p {
    background-color: blue;
    color: white;
    margin: 0;
    padding: 10px;
}
