{% extends "base.html" %}
{% block title %}조식 가격 설정{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>조식 가격 설정</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="title">{{ translations['b_p_setting'] }}</h1>
        <form action="{{ url_for('adjust_breakfast_price', lang=current_lang) }}" method="post">
            <label for="breakfast_price">{{ translations['b_price'] }}</label>
            <input type="number" id="breakfast_price" name="breakfast_price" required>
            <br/>
            <button type="submit" class="kiosk-button">{{ translations.confirm }}</button>
        </form>
        <a href="{{ url_for('adjust_price', lang=current_lang) }}" class="kiosk-button">{{ translations.back }}</a>
    </div>
</body>
</html>
{% endblock %}
