{% extends "base.html" %}
{% block title %}{{ translations.checkout }}{% endblock %}
{% block content %}
<div class="container">
    <h1 class="title">{{ translations.checkout }}</h1>
    {% include 'users/_lang_select.html' %}
    <form method="POST">
        <div class="form-group">
            <label for="name">{{ translations.name }}</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="reservation_number">{{ translations.reservation_number }}</label>
            <input type="number" id="reservation_number" name="reservation_number" required>
        </div>
        <button type="submit" class="kiosk-button">{{ translations.confirm }}</button>
    </form>
    <a href="{{ url_for('index', lang=current_lang) }}" class="kiosk-button">{{ translations.back }}</a>
</div>
{% endblock %}
